@using Backtester.Server.ViewModels.Jobs

@model JobOrdersViewModel

@{
    ViewBag.Title = "Orders";
    ViewBag.ActiveTab = Model.JobId;
}

@await Component.InvokeAsync("JobGroupTabs", new { jobGroupId = Model.JobGroupId })

@Html.Partial("JobTabsPartial", new JobTabsPartialViewModel(Model.JobGroupId, Model.JobId))

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Active Orders</h4>
    </div>
    @if (Model.ActiveOrders.Count > 0)
    {
        @Html.Partial("OrdersListPartial", Model.ActiveOrders)
    }
    else
    {
        <div class="panel-body">
            <p>No active order for this job</p>
        </div>
    }
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Inactive Orders</h4>
    </div>
    @if (Model.InactiveOrders.Count > 0)
    {
        @Html.Partial("OrdersListPartial", Model.InactiveOrders)
    }
    else
    {
        <div class="panel-body">
            <p>No inactive order for this job</p>
        </div>
    }
</div>