@using Backtester.Server.ViewModels.Trades

@model Backtester.Server.ViewModels.JobGroups.JobGroupAllTradesViewModel

@{
    ViewBag.Title = "All Trades";
}

@await Component.InvokeAsync("JobGroupTabs", new { jobGroupId = Model.JobGroupId })

<div class="row">
    <div class="col-xs-12">
        @Html.Partial("TradesListPartial", new TradesListPartialViewModel(Model.JobGroupId, Model.Trades))
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            new Clipboard('#copybtn');
        });

        $('#tradeModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            @ViewBag.ActiveTradeId = button.data('tradeid') // Extract info from data-* attributes
        });
    </script>
}