@model Backtester.Server.ViewModels.JobPositionsViewModel

<div class="panel panel-default" ng-repeat="(key, value) in positionsByCross">
    <div class="panel-heading">
        <h4>{{key}}</h4>
    </div>
    <div class="panel-body">
        <div job-positions-chart day="backtestJobDay" name="backtestJobName" data="value" height="300px"></div>
        <div class="table-responsive" style="max-height: 400px;overflow-y: scroll;">
            <table class="table">
                <tr>
                    <th>Timestamp (HKT)</th>
                    <th>Position</th>
                    <th>Gross Cumulative PnL (USD)</th>
                    <th>Cumulative Commission (USD)</th>
                    <th>Net Cumulative PnL (USD)</th>
                </tr>
                <tr ng-repeat="point in value | orderBy:'timestamp'">
                    <td>{{point.timestamp | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td>{{point.quantity / 1000 | number:0}}K</td>
                    <td>{{point.cumulativePnl | number:0}}</td>
                    <td>{{point.cumulativeCommission | number:2}}</td>
                    <td>{{point.cumulativePnl - point.cumulativeCommission | number:0}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
