@using static Backtester.Server.ViewComponents.JobGroupListType

@{
    ViewData["Title"] = "Jobs";
}

<div class="row">
    <div class="col-xs-12">
        <div style="margin-top: 0.8em; margin-bottom: 0.8em">
            <button class="btn btn-success">
                <span class="glyphicon glyphicon-plus-sign"></span> Create A New Job
            </button>
        </div>
        @await Component.InvokeAsync("JobGroupsList", new { listType = Active })
        @await Component.InvokeAsync("JobGroupsList", new { listType = Inactive })
    </div>
</div>

