@model Backtester.Server.Models.BacktestJobModel

<ul class="nav nav-tabs" style="margin-bottom: 15px">
    <li role="presentation" id="pres-day-status"><a onclick="changeDayContent('status', '@Model.Name')">Info</a></li>
    <li role="presentation" id="pres-day-orders"><a onclick="changeDayContent('orders', '@Model.Name')">Orders</a></li>
    <li role="presentation" id="pres-day-trades"><a onclick="changeDayContent('trades', '@Model.Name')">Trades</a></li>
    <li role="presentation" id="pres-day-positions"><a onclick="changeDayContent('positions', '@Model.Name')">Positions</a></li>
</ul>

<div id="daycontentholder">
</div>