@model string

<div class="btn-group">
    <a class="btn btn-danger" asp-action="Step1">Reset</a>
    <a class="btn btn-success" asp-action="Submit" asp-route-jobnamesstr="@Model">Create Jobs</a>
</div>