@model Backtester.Server.ViewModels.CreateJobExcel.CreateJobExcelSubmitViewModel

    @{
        ViewData["Title"] = "Jobs Submitted";
    }

            @if (Model.Success)
            {
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4>Success</h4>
                    </div>
                    <div class="panel-body">
                        @if (!string.IsNullOrEmpty(Model.Message))
                        {
                            <p>@Html.DisplayFor(m => Model.Message)</p>
                        }
                        else
                        {
                            <p> These jobs were successfully submitted:</p>
                            <dl>
                                @foreach (var jobName in Model.JobNames)
                                {
                                    <dd>@Html.DisplayFor(m => jobName)</dd>
                                }
                            </dl>
                        }
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Home</a>
                    </div>
                </div>
            }
            else
            {
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h4>Failed</h4>
                    </div>
                    <div class="panel-body">
                        <p>Failed to submit one or more jobs: <strong>@Model.Message</strong></p>
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-danger" asp-action="Step1">Start Again</a>
                        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Home</a>
                    </div>
                </div>
            }
