@using Backtester.Server.ViewModels.CreateJob

@model Backtester.Server.ViewModels.CreateJob.CreateJobStep3ViewModel

@{
    ViewData["Title"] = "Time Range";
}

<div class="row">
    <div class="col-lg-12">
        <form name="form-step-3" role="form" class="form-horizontal" asp-controller="CreateJob" asp-action="Step4" asp-route-jobname="@Model.Settings.JobName" method="post">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>3. Select Time Range</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label class="col-sm-6 col-md-4 control-label" asp-for="Settings.StartDate"></label>
                            <div class="col-sm-6 col-md-8">
                                <input class="form-control" asp-for="Settings.StartDate" />
                            </div>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label class="col-sm-6 col-md-4 control-label" asp-for="Settings.StartTime"></label>
                            <div class="col-sm-6 col-md-8">
                                <input class="form-control" asp-for="Settings.StartTime" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label class="col-sm-6 col-md-4 control-label" asp-for="Settings.EndDate"></label>
                            <div class="col-sm-6 col-md-8">
                                <input class="form-control" asp-for="Settings.EndDate" />
                            </div>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label class="col-sm-6 col-md-4 control-label" asp-for="Settings.EndTime"></label>
                            <div class="col-sm-6 col-md-8">
                                <input class="form-control" asp-for="Settings.EndTime" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 checkbox">
                            <label class="col-sm-offset-6 col-md-offset-4">
                                <input asp-for="Settings.UseHistoDatabase" /> @Html.DisplayNameFor(m => Model.Settings.UseHistoDatabase)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="btn-group">
                        <a class="btn btn-danger" asp-action="Step2" asp-route-jobname="@Model.Settings.JobName">Back</a>
                        <button type="submit" class="btn btn-success">Next</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>