@model Backtester.Server.ViewModels.CreateJob.CreateJobStep1bViewModel

@{
    ViewData["Title"] = "Pairs";
}

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>1b. Review Pairs</h4>
            </div>
            <div class="panel-body" id="pairsholder">
                @Html.Partial("Step1bPairsPartial", Model)
            </div>
        </div>
    </div>
</div>