@using Backtester.Server.ViewModels.CreateJob

@model Backtester.Server.ViewModels.CreateJob.CreateJobStep4ViewModel

@{
    ViewData["Title"] = "Step 4";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>4. Review And Submit</h4>
            </div>
            <div class="panel-body">
                <p>TODO</p>
            </div>
        </div>
    </div>
</div>