@model Backtester.Server.Models.BacktestOrderModel

@{
    ViewBag.Title = $"Order {Model.OrderId}";
}

<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 col-lg-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Trade @Html.DisplayFor(m => Model.OrderId)</h4>
            </div>
            @Html.Partial("OrderPartial", Model)
        </div>
    </div>
</div>
